@import "tailwindcss";

:root {
  --background-base: #fff;
  --background-brand: #f9f9f9;
  --foreground: #171717;
}

@theme {
  --color-brand-white: #f9f9f9;
  --color-brand-purple: #8a7cc8;
}

body {
  background: var(--background-base);
  color: var(--foreground);
  font-family: "Inter", Helvetica, sans-serif;
}
